html, body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background: #e0e0e0;
    font-family: 'Ubuntu', sans-serif
}

#header {
    background: rosybrown;
    position:fixed;
    width: 100%;
}

#footer {
    display: block;
    position: fixed;
    background: rosybrown;
    width: 100%;
}

