html, body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background: #e0e0e0;
}

#header {
    background: rosybrown;
}

#footer {
    background: rosybrown;
}

#main-container {
    width: 100%;
    height: 100%;
}

#main-logo {
    width: 60px;
    height: 60px;
}

#radisson-detail {
    width: 500px;
    height: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0%;
}

#detail-form {
    margin-top: 0%;
    margin-right: 4%;
    margin-bottom: 1%;
    margin-left: 4%;
}

#description {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%
}

.social-media-logo {
    width: 22px;
    height: 20px;
}