html, body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background: #e0e0e0;
}

#header {
    background: rosybrown;
}

#footer {
    background: rosybrown;
}

#main-container {
    width: 100%;
    height: 100%;
}

#main-logo {
    width: 60px;
    height: 60px;
}

.hotel {
    width: 250px;
    height: 200px;
}

#lists {
    width: 40%;
    margin: 2%;
    background-color: rgb(132,136,139);
}

.social-media-logo {
    width: 22px;
    height: 20px;
}