html, body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background: #e0e0e0;
}

#header {
    background: rosybrown;
}

#footer {
    background: rosybrown;
}

#main-container {
    width: 100%;
    height: 100%;
}

#main-logo {
    width: 60px;
    height: 60px;
}

#hotel-details{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#customer-detail {
    margin: 2%;
}

#tarrif-detail {
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#radisson-payment {
    width: 500px;
    height: 500px;
}

.social-media-logo {
    width: 22px;
    height: 20px;
}